<app-header></app-header>
<div class="container">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">View Items</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.php">Home</a></li>

                <li class="breadcrumb-item active">View Items</li>
            </ol>
        </div>
        <div class="">

        </div>
    </div>
    <div class="dashboard">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <ul>
                        <li><a routerLink="/items"><i class="fa fa-regular fa-cart-plus"></i> Add Items</a></li>
                        <li><a routerLink="/view-items"><i class="fa fa-regular fa-eye"></i> View Items</a></li>
                        <li><a routerLink="/add-category"><i class="fa fa-regular fa-cart-plus"></i> Add Category</a></li>
                        <li><a routerLink="/view-category"><i class="fa fa-regular fa-eye"></i> View Category</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="add-ietms">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <table class="table">
                                <tbody>
                                    <tr>

                                        <th>Item Name</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Action</th>

                                    </tr>

                                </tbody>
                                <tbody>

                                    <tr>

                                        <td>Fruita Vital Red Grapes</td>
                                        <td>All</td>
                                        <td>70</td>
                                        <td>89</td>
                                        <td><a href="item.php?i_id=18"><i class="fa fa-edit"></i></a><a class="mx-3"
                                                href="delete-item.php?i_id=18"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                                    <tr>

                                        <td>Coffee</td>
                                        <td>Drinks</td>
                                        <td>150</td>
                                        <td>0</td>
                                        <td><a href="item.php?i_id=17"><i class="fa fa-edit"></i></a><a class="mx-3"
                                                href="delete-item.php?i_id=17"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                                    <tr>

                                        <td>Fruita Vital Red Grapes</td>
                                        <td>All</td>
                                        <td>70</td>
                                        <td>89</td>
                                        <td><a href="item.php?i_id=18"><i class="fa fa-edit"></i></a><a class="mx-3"
                                                href="delete-item.php?i_id=18"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                                    <tr>

                                        <td>Fruita Vital Red Grapes</td>
                                        <td>All</td>
                                        <td>70</td>
                                        <td>89</td>
                                        <td><a href="item.php?i_id=18"><i class="fa fa-edit"></i></a><a class="mx-3"
                                                href="delete-item.php?i_id=18"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                                    <tr>

                                        <td>Fruita Vital Red Grapes</td>
                                        <td>All</td>
                                        <td>70</td>
                                        <td>89</td>
                                        <td><a href="item.php?i_id=18"><i class="fa fa-edit"></i></a><a class="mx-3"
                                                href="delete-item.php?i_id=18"><i class="fa fa-trash"></i></a></td>


                                    </tr>
                                    
                                    <tr>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>